.dialogItem {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  font-size: x-large;
  color: dimgray;
  height: 60px;
  border-bottom: rgb(197, 197, 197) 1px dotted;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dialogItem img {
  margin-right: 10px;
  width: 60px;
  border-radius: 50px;
}

a {
  display: block;
  text-decoration: none;
  transition: 0.3s linear;
}
a:active {
  background-color: rgb(184, 184, 184);
}

a.active {
  background-color: rgb(221, 221, 221);
  color: rgb(34, 34, 34);
}
