.userboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  background-color: aliceblue;
  transition: background-color 0.5s linear;
}

.userboard:hover {
  background-color: rgb(201, 229, 253);
}

.userboard img {
  margin: 10px;
  width: 150px;
  border-radius: 50%;
}

.name {
  font-size: x-large;
  font-weight: bolder;
}

.userboard button {
  width: 50px;
  font-size: x-large;
  font-weight: bolder;
  cursor: pointer;
}
