.post {
  height: auto;
  border-bottom: 1px dashed gray;
  margin-top: 15px;
}
.post img {
  width: 60px;
  border-radius: 30px;
}

.like img {
  width: 30px;
  cursor: pointer;
}

.like {
  width: 60px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}
